html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
